/* Estilos para el contenedor principal */
.container {

}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.2);
  letter-spacing: 2px;
  margin: 1%;
}
/* Estilos para el enlace Home */
.Home {
  font-size: 3rem;
  color: #ffcc00;
  cursor: pointer;
}
.Home:hover {
  transform: scale(1.1);
  text-decoration:underline;
}
.btnCrear {
  font-size:0.8rem;
  padding: 10px 20px;
  border-radius: 25px;
  color: #ffcc00;
  font-weight: 700;
  background-color: rgba(255, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'robot', sans-serif;
}


/* Estilos para el botón de búsqueda al pasar el cursor */
.btnCrear:hover {
  background-color: rgba(252, 0, 0, 0.6);
}
