.Container{
 
    color:red;
    padding:1%;
}

body {
    background-image: url("./home3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    max-height: 100%; /* Usar 100vh en lugar de 100% para ajustar la altura a la ventana gráfica del navegador */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }